In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
%cd /content/drive/My Drive/Colab Notebooks/db

/content/drive/My Drive/Colab Notebooks/db

In [24]:
import pandas as pd
import numpy as np

In [25]:
df_meteorites = pd.read_csv('meteorite-landings.csv')

In [26]:
pd.options.display.float_format = '{:,.1f}'.format #eliminar notacion cientifica

In [27]:
df_meteorites.describe()

            id     mass (g)   reclat  reclong
count 45,716.0     45,585.0 38,401.0 38,401.0
mean  26,889.7     13,278.1    -39.1     61.1
std   16,860.7    574,988.9     46.4     80.6
min        1.0          0.0    -87.4   -165.4
25%   12,688.8          7.2    -76.7      0.0
50%   24,261.5         32.6    -71.5     35.7
75%   40,656.8        202.6      0.0    157.2
max   57,458.0 60,000,000.0     81.2    354.5

In [28]:
df_meteorites.describe(include='all')

                         name       id nametype  ...   reclat  reclong GeoLocation
count                   45716 45,716.0    45716  ... 38,401.0 38,401.0       38401
unique                  45716      nan        2  ...      nan      nan       17100
top     Northwest Africa 2724      nan    Valid  ...      nan      nan  (0.0, 0.0)
freq                        1      nan    45641  ...      nan      nan        6214
mean                      NaN 26,889.7      NaN  ...    -39.1     61.1         NaN
std                       NaN 16,860.7      NaN  ...     46.4     80.6         NaN
min                       NaN      1.0      NaN  ...    -87.4   -165.4         NaN
25%                       NaN 12,688.8      NaN  ...    -76.7      0.0         NaN
50%                       NaN 24,261.5      NaN  ...    -71.5     35.7         NaN
75%                       NaN 40,656.8      NaN  ...      0.0    157.2         NaN
max                       NaN 57,458.0      NaN  ...     81.2    354.5         NaN

[11 rows x 10 columns]

In [29]:
df_meteorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

Cambiar el tipo de dato de una columna

In [30]:
df_meteorites.convert_dtypes().dtypes

name            string
id               Int64
nametype        string
recclass        string
mass (g)       float64
fall            string
year            string
reclat         float64
reclong        float64
GeoLocation     string
dtype: object

Qué tanto se repiten los datos

In [31]:
df_meteorites.nunique()

name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             266
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

In [32]:
df_meteorites[['fall','nametype']] = df_meteorites[['fall','nametype']].astype('category')

In [33]:
df_meteorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  category
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  category
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: category(2), float64(3), int64(1), object(4)
memory usage: 2.9+ MB

In [34]:
df_meteorites['fall'].unique()

['Fell', 'Found']
Categories (2, object): ['Fell', 'Found']

In [35]:
df_meteorites['fall'].value_counts()

Found    44609
Fell      1107
Name: fall, dtype: int64

Conversion de variable categorica a binario

In [36]:
pd.get_dummies(df_meteorites['fall'])

       Fell  Found
0         1      0
1         1      0
2         1      0
3         1      0
4         1      0
...     ...    ...
45711     0      1
45712     0      1
45713     0      1
45714     0      1
45715     0      1

[45716 rows x 2 columns]

In [37]:
df_meteorites[['fell','found']] = pd.get_dummies(df_meteorites['fall'])

In [38]:
df_meteorites

             name     id nametype  ...             GeoLocation  fell found
0          Aachen      1    Valid  ...       (50.775, 6.08333)     1     0
1          Aarhus      2    Valid  ...    (56.18333, 10.23333)     1     0
2            Abee      6    Valid  ...      (54.21667, -113.0)     1     0
3        Acapulco     10    Valid  ...       (16.88333, -99.9)     1     0
4         Achiras    370    Valid  ...     (-33.16667, -64.95)     1     0
...           ...    ...      ...  ...                     ...   ...   ...
45711  Zillah 002  31356    Valid  ...       (29.037, 17.0185)     0     1
45712      Zinder  30409    Valid  ...     (13.78333, 8.96667)     0     1
45713        Zlin  30410    Valid  ...       (49.25, 17.66667)     0     1
45714   Zubkovsky  31357    Valid  ...     (49.78917, 41.5046)     0     1
45715  Zulu Queen  30414    Valid  ...  (33.98333, -115.68333)     0     1

[45716 rows x 12 columns]

In [39]:
df_meteorites['year']

0        01/01/1880 12:00:00 AM
1        01/01/1951 12:00:00 AM
2        01/01/1952 12:00:00 AM
3        01/01/1976 12:00:00 AM
4        01/01/1902 12:00:00 AM
                  ...
45711    01/01/1990 12:00:00 AM
45712    01/01/1999 12:00:00 AM
45713    01/01/1939 12:00:00 AM
45714    01/01/2003 12:00:00 AM
45715    01/01/1976 12:00:00 AM
Name: year, Length: 45716, dtype: object

In [40]:
pd.to_datetime(
    df_meteorites['year'],
    errors = 'coerce',
    format = '%m/%d/%Y %H:%M:%S %p'
)

0       1880-01-01 12:00:00
1       1951-01-01 12:00:00
2       1952-01-01 12:00:00
3       1976-01-01 12:00:00
4       1902-01-01 12:00:00
                ...
45711   1990-01-01 12:00:00
45712   1999-01-01 12:00:00
45713   1939-01-01 12:00:00
45714   2003-01-01 12:00:00
45715   1976-01-01 12:00:00
Name: year, Length: 45716, dtype: datetime64[ns]

In [41]:
df_meteorites['year'] = pd.to_datetime(
    df_meteorites['year'],
    errors = 'coerce',
    format = '%m/%d/%Y %H:%M:%S %p'
)

In [42]:
df_meteorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  category
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  category
 6   year         45404 non-null  datetime64[ns]
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
 10  fell         45716 non-null  uint8
 11  found        45716 non-null  uint8
dtypes: category(2), datetime64[ns](1), float64(3), int64(1), object(3), uint8(2)
memory usage: 3.0+ MB

In [43]:
#renombrar una columna
df_meteorites.rename(columns={'mass (g)' : 'mass'}, inplace=True)

In [45]:
#hacer una copia correctamente del dataframee
df = df_meteorites.copy(deep=True)
df.drop(['id'], axis=1, inplace=True)